:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

* {
    box-sizing: border-box;
}
body {
    user-select: none;
    -webkit-user-select: none;
}

#container {
    box-sizing: content-box;
    display: grid;
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    height: 50vh;
    width: 50vh;
    margin: 0 auto;
}

.grid-item {
    outline: solid 1px #ddd;
}

.draw {
    background-color: black;
}


