:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

* {
    box-sizing: border-box;
}

body {
    user-select: none;
    -webkit-user-select: none;
}

#header {
    display: flex;
    justify-content: center;
}

#container {
    box-sizing: content-box;
    display: grid;
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    height: 50vh;
    width: 50vh;
    margin: 0 auto 3vh;
}

.grid-item {
    outline: solid .5px #ddd;
}

#buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}


